
<div class="container">
    <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="form-row">
            <div class="form-group col-12">
                <label><strong>CNPJ</strong></label>
                <input type="text" formControlName="cnpj" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.cnpj.errors }" />
                <div *ngIf="submitted && form.cnpj.errors" class="invalid-feedback">
                    <div *ngIf="form.cnpj.errors.required">CNPJ is mandatory</div>
                </div>
            </div>
            <div class="form-group col-12">
                <label><strong>Nome Fantasia</strong></label>
                <input type="text" formControlName="fantasyName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.fantasyName.errors }" />
                <div *ngIf="submitted && form.fantasyName.errors" class="invalid-feedback">
                    <div *ngIf="form.fantasyName.errors.required">fantasy Name is mandatory</div>
                    <div *ngIf="form.fantasyName.errors.fantasyName">Must have fantasyName format</div>
                </div>
            </div>
            <div class="form-group col-12">
                <label><strong>Razão Social</strong></label>
                <input type="text" formControlName="corporateName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.corporateName.errors }" />
                <div *ngIf="submitted && form.corporateName.errors" class="invalid-feedback">
                    <div *ngIf="form.corporateName.errors.required">corporateName is mandatory</div>
                    <div *ngIf="form.corporateName.errors.corporateName">Must have corporateName format</div>
                </div>
            </div>
            <div class="form-group col-12">
                <label><strong>Missão</strong></label>
                <input type="text" formControlName="mission" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.mission.errors }" />
                <div *ngIf="submitted && form.mission.errors" class="invalid-feedback">
                    <div *ngIf="form.mission.errors.required">mission is mandatory</div>
                    <div *ngIf="form.mission.errors.mission">Must have mission format</div>
                </div>
            </div>
            <div class="form-group col-12">
                <label><strong>Visão</strong></label>
                <input type="text" formControlName="vision" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.vision.errors }" />
                <div *ngIf="submitted && form.vision.errors" class="invalid-feedback">
                    <div *ngIf="form.vision.errors.required">vision is mandatory</div>
                    <div *ngIf="form.vision.errors.vision">Must have vision format</div>
                </div>
            </div>
            <div class="form-group col-12">
                <label>
                    <strong>Alocar Funcionários</strong>
                </label>              
                <ng-select [items]="users"
                    bindLabel="name" 
                    bindValue="id" 
                    [multiple]="true"
                    [closeOnSelect]="false"
                    placeholder="Selecione Funcionários"
                    [(ngModel)]="selectedUsersId"
                    formControlName="funcionarios" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.funcionarios.errors }" ng-options="user for user in users" multiple>
                </ng-select>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary mr-1">Atualizar Dados</button>
        </div>

    </form>
</div>
